
*{
    padding: 0px;
    margin:0px;

}
#canvas{
    border: solid 1px black;

}
#color{
    padding: 0px;
    border: none;
    background: none;
    width: 44px;
    height: 44px
}

#thickness{
    padding: 10px
}

#erase{
    padding: 10px;
    background-color: blanchedalmond;
    color: chocolate;
    border-radius: 10px;
    border-color: cornflowerblue;
    font-weight: bold;
    font-size: medium;
}
